<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			 <nav class="left">
					<a href="#menu"><span>Menu</span></a>
			 </nav>
			 <a href="index.html" class="logo"><font size ="20em">NutriViser</font></a>
			 <nav class="right">

			 </nav>
		</header>


    <body class="subpage">

  		<!-- Header -->
  		<header id="header">
  			 <nav class="left">
  					<a href="#menu"><span>Menu</span></a>
  			 </nav>
  			 <a href="index.html" class="logo"><font size="20em">NutriViser</font></a>
  			 <nav class="right">

  			 </nav>
  		</header>


  		<!-- Add icon library -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  		<!-- Menu -->


  		<!-- Main -->


    <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Header -->
  <header id="header">
   <nav class="left">
      <a href="#menu"><span>Menu</span></a>
   </nav>

     <a href="/landing-page" class="logo"><font size="20em">NutriViser</font></a>
     <nav class="right">




           <div class="btn-group" role="group" aria-label="Basic example">
             <a class="nav-link btn btn-light my-2 my-sm-0" href="/account/login">Login</a>
             <a class="nav-link btn btn-outline-light my-2 my-sm-0" href="/account/signup">Sign up</a>
           </div>

       </nav>
  </header>
  <!-- Menu -->



  <div class="container">

    <h1>제품 선택</h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/news">전체</a>
      </li>

        <a class="nav-link " href="?category=1">비타민</a>

        <a class="nav-link " href="?category=2">비오틴</a>

        <a class="nav-link " href="?category=3">철분</a>

        <a class="nav-link " href="?category=4">칼슘</a>

        <a class="nav-link " href="?category=5">루테인</a>

        <a class="nav-link " href="?category=6">유산균</a>

    </ul>


    <ul class="list-unstyled">

      <li class="media">


          <a href="/news/1"><img class="mr-3" src="/uploads/vitaminA.png" width="128"></a>


        <div class="media-body">
          <h3 class="mt-0 mb-1"><a href="/news/1">비타민A</a></h3>
          비타민
        </div>
      </li>

      <li class="media">


          <a href="/news/3"><img class="mr-3" src="/uploads/vitaminB.png" width="128"></a>


        <div class="media-body">
          <h3 class="mt-0 mb-1"><a href="/news/3">비타민B</a></h3>
          비타민
        </div>
      </li>

      <li class="media">


          <a href="/news/4"><img class="mr-3" src="/uploads/vitaminC.png" width="128"></a>


        <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="/news/4">비타민C</a></h5>
          비타민
        </div>
      </li>

      <li class="media">


          <a href="/news/5"><img class="mr-3" src="/uploads/vitaminD.png" width="128"></a>


        <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="/news/5">비타민D</a></h5>
          비타민
        </div>
      </li>

    </ul>



    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
      </div>
      <div class="input-group">
        <a href="/news/add" class="btn btn-outline-success">제품등록</a>
      </div>
    </div>
  </div>
  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <h2>Get In Touch</h2>
        <ul class="actions">
          <li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
          <li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
          <li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
        </ul>
      </div>
      <div class="copyright">
        © Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
      </div>
    </footer>

  <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>





      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <nav id="menu">
      <ul class="links">
        <li><a href="/elements" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">About Us</a></li>
        <li><a href="/form" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">건강분석</a></li>
        <li><a href="/products" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">제품선택</a></li>
        <li><a href="/elements" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">구독신청</a></li>
        <li><a href="/elements" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">복용관리</a></li>
        <li><a href="/generic" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">리뷰공유</a></li>
        <li><a href="/elements" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">고객센터</a></li>
      </ul>

    <a href="#menu" class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a></nav>

  		<!-- Footer -->
  			<footer id="footer">
  				<div class="inner">
  					<h2>Get In Touch</h2>
  					<ul class="actions">
  						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
  						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
  						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
  					</ul>
  				</div>
  				<div class="copyright">
  					© Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
  				</div>
  			</footer>

  		<!-- Scripts -->
  			<script src="assets/js/jquery.min.js"></script>
  			<script src="assets/js/jquery.scrolly.min.js"></script>
  			<script src="assets/js/skel.min.js"></script>
  			<script src="assets/js/util.js"></script>
  			<script src="assets/js/main.js"></script>




      </body>
</html>
